.card{
    background: #454d55;
    color: white;
    line-height: 1.5;
    font-weight: 300;
    margin-top: 40px;
}
.main{
    position: absolute;
    width: 100%;
    background: #95999c;
    min-height: 100vh;
}